@using Microsoft.AspNetCore.Http.Features
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}
@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-warning alert-dismissible fade in" role="alert">
        <button class="close" aria-label="Close" type="button" data-dismiss="alert"><span aria-hidden="true">×</span></button>
        <h4>Politica de privacidad de cookies</h4>
        <p>
            <a asp-controller="Home" asp-action="Privacy" class="btn btn-info">Leer mas</a>
            <button type="button" class="btn btn-success" data-cookie-string="@cookieString">Acceptar</button>
        </p>
    </div>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                $("#cookieConsent").alert('close');
            }, false);
        })();
    </script>
}