@{
    ViewData["Title"] = "Inicio";
    ViewData["SubTitle"] = "";
}
<div class="index-page">
    <div class="index-content center-block text-center">
        <img class="index-logo" src="https://via.placeholder.com/180x180?text=Logo">
        <br>
        <h1 class="index-title">Sistema Informatico <small>Sistema Informatico</small></h1>
        <h2 class="index-title-desc">Descripcion</h2>
    </div>
</div>